.outputQuestion {
  text-align: center;
}

.question{
  text-align: center;
}

.affirmative{
  text-align: center;
  color: green;
}

.dubious{
  text-align: center;
  color: yellow;
}

.negative{
  text-align: center;
  color: red;
}
